@import "tailwindcss";

@layer base {
    html {
        font-family: 'Inter', sans-serif;
        color: #1f2937;
        background-color: #f9fafb;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 600;
        color: #111827;
    }
}